.add-book {
  background-color: #2563eb;
  display: flex;
  justify-self: center;
  margin-top: 50px;
  font-size: 1.2rem;
}

/* LIBRARY INFO */

.library-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  gap: 10px;
  text-align: center;
}

.library-info-container.hide {
  display: none;
}

.library-info-container h2 {
  font-size: 1.75rem;
}

.explanation {
  font-size: 1.25rem;
  color: #cbd5e1;
  font-weight: normal;
}
